@import "./form.css";
@import "./button.css";
@import "./table.css";
@import "./util.css";
@import "./text.css";

@import "./view/index.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 1rem/1.5rem Nunito Sans, sans-serif;
  background-image: url("../img/Asset-25-transparent.png");
  background-repeat: no-repeat;
  background-position: 50%;
}
