.btn {
  display: inline-block;
  padding: .375rem .75rem;
  color: white;
  font: 1rem/1.5rem Nunito Sans, sans-serif;
  text-decoration: none;
  background-color: #1ea6d0;
  border: 1px solid #1ea6d0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 0.5rem;
}

.btn:hover {
  background-color: #1882a3;
  border-color: #14718d;
}
