.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  padding: .375rem .75rem;
  height: 1.5rem;
  width: 20rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  outline: none;
}

.form-control:focus {
  border-color: #1ea6d0;
}
