.table {
  width: 100%;
  border-collapse: collapse;
  color: #212529;
  background: white;
}

.table thead {
  font-weight: bold;
  white-space: nowrap;
}

.table td {
  border: 1px solid #dee2e6;
  padding: 0.25rem 0.375rem;
}

.table thead td {
  min-width: 100px;
  border-bottom-width: 2px;
}

.table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0,0,0,.05);
}

.table tbody tr:hover {
  color: #212529;
  background-color: rgba(0,0,0,.075);
}
